// ==========================================================================
// Extends
// ==========================================================================

%line-drawing {
    stroke-width: 2;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
}
