// ==========================================================================
// Extends
// ==========================================================================

%line-drawing {
    stroke-width: 2px;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}
