// ==========================================================================
// Graphic
// ==========================================================================

.graphic {
    margin: 1em auto;
    width: 170px;
    transform-origin: 50% 50%;
        
    &:hover { 
        .nose { 
            animation: nose .9s ease-in-out backwards;
        }
        
        .ear1 {
            animation: ear1 1.1s ease-in-out backwards;
        }
        
        .ear2 {
            transform-origin: bottom center;
            animation: ear2 1.1s ease-in-out backwards;
        }
    }
}

// Red // 

.red {
    
    .st0 {  
        fill:#BA8058;
    }
    
    .st1 { 
         fill:#FBFEFF;
     }
    
    .st2 {
        fill:#2D3339;
    }
    
    .st3 {
        fill:#EAAA7F;
    }
}

// Fawn // 

.fawn {
    
    .st0 {  
        fill:#EAAA7F;
    }
    
    .st1 { 
         fill:#FBFEFF;
     }
    
    .st2 {
        fill:#2D3339;
    }
    
    .st3 {
        fill:#F4C6A6;
    }
}

// Sable // 

.sable {
    
    .st0 {  
        fill:#844B24;
    }
    
    .st1 { 
         fill:#FBFEFF;
     }
    
    .st2 {
        fill:#2D3339;
    }
    
    .st3 {
        fill:#BA8058;
    }
}

// Black // 

.black {
    
    .st0 {  
        fill:#BA8058;
    }
    
    .st1 { 
         fill:#52595F;
     }
    
    .st2 {
        fill:#FBFEFF;
    }
    
    .st3 {
        fill:#2D3339;
    }
}
