.logo {
  width: 120px;
  height: 140px;
  
  &:hover > .logo__text {
      transform: rotate(360deg);
      transition: transform .4s ease-out;
  }

  @include e(background) {
    fill:#BA8058;
  }

  @include e(text) {
    opacity: 0;
    fill:#EAAA7F;
    transform-origin: center 70px;

    @include mq(medium) {
      opacity: 1;
    }
  }

  @include e(icon) {
    fill: #F4C6A6;
  }
}

.name {
  max-width: 100%;
  border: 3px solid #F4C6A6;
  padding: 10px;
  margin: 40px 10px;
  border-radius: 4px;
  display: block;
  
  @include mq(medium) {
    display: none;
  }
}
