.menu {
  width: 24px;
  fill:#39ADD1;
}

.link {
  display: block;
  transition: .3s ease-out;
  margin: 20px 0px;
  
  &:hover {
    padding: 10px 20px;
    background-color: #39add1;
    border-radius: 3px;
    color: #FFFFFF;
    
    .menu {
      fill: #FFFFFF;
    }
  }
}
