// ==========================================================================
// Menu
// ==========================================================================

.menu {
    width: 24px;
    height: 26px;
    fill: #39add1;
}

.link {
    display: block;
    transition: .3s ease-out;
    margin: 20px 0;

    &:hover {
        padding: 10px 20px;
        background-color: #39add1;
        border-radius: 3px;
        color: #fff;

        .menu {
            fill: #fff;
            overflow: visible;

            @include e(icon) {
                transform-origin: 50% 50%;
                animation: grow 1s ease-out backwards;
            }
        }
    }
}
