@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #111;
  background: url("../img/svg/background.svg") #edeff0;
  background-size: 53px;
  perspective: 800px; }

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left; }

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700; }
  a:hover {
    color: #111; }

header {
  padding-top: 10px; }
  header nav {
    padding-bottom: 20px; }
  header ul,
  header li {
    display: inline-block;
    margin-right: 20px; }
  header h1 {
    line-height: 1em; }

main {
  padding-top: 50px; }
  main h2 {
    font-size: 28px; }
  main ul {
    padding: 0; }
  main li {
    display: inline-block;
    color: #ba8058;
    margin-right: 20px; }
    main li span {
      margin-left: -40px; }
    main li:last-child {
      margin-right: 0; }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058; }

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 421px) {
    .nav {
      flex-direction: row;
      justify-content: space-around;
      height: 70px; } }

.graphic {
  margin: 1em auto;
  width: 170px;
  transform-origin: 50% 50%; }
  .graphic:hover .nose {
    animation: nose .9s ease-in-out backwards; }
  .graphic:hover .ear1 {
    animation: ear1 1.1s ease-in-out backwards; }
  .graphic:hover .ear2 {
    transform-origin: bottom center;
    animation: ear2 1.1s ease-in-out backwards; }

.transparent {
  fill: transparent; }

.red .st0 {
  fill: #ba8058; }
.red .st1 {
  fill: #fbfeff; }
.red .st2 {
  fill: #2d3339; }
.red .st3 {
  fill: #eaaa7f; }
.red .red-body {
  stroke: #ba8058;
  animation: offset 5s linear forwards, fill-it-red .8s 5s forwards; }

.fawn .st0 {
  fill: #eaaa7f; }
.fawn .st1 {
  fill: #fbfeff; }
.fawn .st2 {
  fill: #2d3339; }
.fawn .st3 {
  fill: #f4c6a6; }
.fawn .fawn-body {
  stroke: #eaaa7f;
  animation: offset 5s linear forwards, fill-it-fawn .8s 5s forwards; }

.sable .st0 {
  fill: #844b24; }
.sable .st1 {
  fill: #fbfeff; }
.sable .st2 {
  fill: #2d3339; }
.sable .st3 {
  fill: #ba8058; }
.sable .sable-body {
  stroke: #844b24;
  animation: offset 5s linear forwards, fill-it-sable .8s 5s forwards; }

.black .st0 {
  fill: #ba8058; }
.black .st1 {
  fill: #52595f; }
.black .st2 {
  fill: #fbfeff; }
.black .st3 {
  fill: #2d3339; }
.black .black-body {
  stroke: #ba8058;
  animation: offset 5s linear forwards, fill-it-black .8s 5s forwards; }

.menu {
  width: 24px;
  height: 26px;
  fill: #39add1; }

.link {
  display: block;
  transition: .3s ease-out;
  margin: 20px 0; }
  .link:hover {
    padding: 10px 20px;
    background-color: #39add1;
    border-radius: 3px;
    color: #fff; }
    .link:hover .menu {
      fill: #fff;
      overflow: visible; }
      .link:hover .menu__icon {
        transform-origin: 50% 50%;
        animation: grow 1s ease-out backwards; }

.logo {
  width: 120px;
  height: 140px; }
  .logo:hover > .logo__text {
    transform: rotate(360deg);
    transition: transform .4s ease-in-out; }
  .logo__background {
    fill: #ba8058; }
  .logo__text {
    opacity: 0;
    fill: #eaaa7f;
    transform-origin: center 70px; }
    @media (min-width: 421px) {
      .logo__text {
        opacity: 1; } }
  .logo__icon {
    transform-origin: 50% 50%;
    fill: #f4c6a6;
    animation: turn 1.1s .2s ease-out backwards; }
    .logo__icon path {
      animation: pulse .7s 1.5s; }
      .logo__icon path:nth-of-type(1) {
        animation-delay: 1.7s; }
      .logo__icon path:nth-of-type(2) {
        animation-delay: 1.9s; }
      .logo__icon path:nth-of-type(3) {
        animation-delay: 1.7s; }
      .logo__icon path:nth-of-type(4) {
        animation-delay: 1.6s; }

.name {
  max-width: 100%;
  border: 3px solid #f4c6a6;
  padding: 10px;
  margin: 40px 10px;
  border-radius: 4px;
  display: block; }
  @media (min-width: 421px) {
    .name {
      display: none; } }

.red .red-body, .fawn .fawn-body, .sable .sable-body, .black .black-body {
  stroke-width: 2px;
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px; }

/*	Navigation 
------------------------------------------ */
@keyframes grow {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(1.1); }
  60% {
    transform: scale(0.9); } }
/*	Logo 
------------------------------------------ */
@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0; }
  60% {
    transform: rotate(375deg) scale(1.1); }
  80% {
    transform: rotate(355deg) scale(0.9); }
  100% {
    transform: rotate(360deg) scale(1); } }
@keyframes pulse {
  50% {
    transform: scale(1.1); } }
/*	Dogs 
------------------------------------------ */
@keyframes nose {
  25% {
    transform: translate3d(0, -5px, 0); }
  50% {
    transform: translate3d(0, 1px, 0); }
  75% {
    transform: translate3d(0, -5px, 0); }
  100% {
    transform: translate3d(0, 1px, 0); } }
@keyframes ear1 {
  0% {
    transform: rotate3d(1, 1, 0, 30deg); }
  50% {
    transform: rotate3d(1, 1, 0, 0deg); }
  75% {
    transform: rotate3d(1, 1, 0, 30deg); }
  100% {
    transform: rotate3d(1, 1, 0, 0deg); } }
@keyframes ear2 {
  0% {
    transform: rotate3d(1, 0, 0, -20deg); }
  50% {
    transform: rotate3d(1, 0, 0, 0deg); }
  75% {
    transform: rotate3d(1, 0, 0, -20deg); }
  100% {
    transform: rotate3d(1, 0, 0, 0deg); } }
@keyframes offset {
  100% {
    stroke-dashoffset: 0; } }
@keyframes fill-it-red {
  100% {
    fill: #ba8058; } }
@keyframes fill-it-fawn {
  100% {
    fill: #eaaa7f; } }
@keyframes fill-it-sable {
  100% {
    fill: #844b24; } }
@keyframes fill-it-black {
  100% {
    fill: #ba8058; } }

/*# sourceMappingURL=style.css.map */
